<!DOCTYPE html>
<html>
<head>
	<title>Weekly Schedule</title>
	<link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Schedule Table Goes Here. // TODO
      </h1>
      <h2 class="subtitle">
        To Do
      </h2>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        Here is the footer. The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
      </p>
      <p>
        <a class="icon" href="https://github.com/khoyt/weekly-schedule">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>
</body>
</html>
